table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%; 
    height: 15cm;
    margin: auto;
    color: rgb(0, 255, 140);
    background-image: linear-gradient(to bottom right, rgb(129, 119, 119), rgb(0, 0, 0));
    box-shadow: 20px 20px 20px rgb(11, 137, 91);
    margin-bottom: 100px;
    }
td,th {
    border: 3px solid rgb(11, 137, 108);
    text-align: center;
    padding: 8px;
    font-weight: bold;
    height: 60px;
}